:root {
    --page-header-left: #3b6ec3;
    --page-header-right: #230355;
    --card-background: #33475a;
}


#city-name {
    margin: 5px 0;
}
.city-btn, #city-name {
    width: 100%;
}


.page-header {
    background: linear-gradient(to right,var(--page-header-left),var(--page-header-right));
    color: white;
}

.primary-card {
    border: 1px solid black;
}

.weather-card {
    color: white;
    background: var(--card-background) !important;
    margin-bottom: 0.25rem;
}

.primary-card ul, .weather-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-card ul li, .weather-card ul li {
    margin: 4px 0px;
}
